In [1]:
import pandas as pd

In [5]:
s1 = pd.Series([90,78,65,87,72])
s1

0    90
1    78
2    65
3    87
4    72
dtype: int64

In [6]:
dat = [90,78,65,87,72]

In [7]:
s1 = pd.Series(data)
s1

0    90
1    78
2    65
3    87
4    72
dtype: int64

In [8]:
import numpy as np

In [9]:
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [10]:
s2 = pd.Series(np.arange(1,10,2))
s2

0    1
1    3
2    5
3    7
4    9
dtype: int32

In [11]:
data = np.arange(1,10,2)

In [12]:
s2 = pd.Series(data)
s2

0    1
1    3
2    5
3    7
4    9
dtype: int32

In [13]:
s1

0    90
1    78
2    65
3    87
4    72
dtype: int64

In [14]:
s1.dtypes

dtype('int64')

In [15]:
d1.index

NameError: name 'd1' is not defined

In [16]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
s1.index = ['sato','suzuki','takahashi','tanaka','ito']

In [18]:
s1

sato         90
suzuki       78
takahashi    65
tanaka       87
ito          72
dtype: int64